.app__header {
  background-color: var(--color-black);
}

.app__header-h1 {
  font-family: var(--font-base);
  color: var(--color-golden);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  line-height: 90px;
  font-size: 82px;
}

.app__wrapper_img img {
  height: 28rem;
  object-fit: contain;
}

@media screen and (max-width: 1160px) {
  .app__header-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media screen and (max-width: 1050px) {
  .app__wrapper_img img {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  .app__header-h1 {
    font-size: 52px;
    line-height: 62px;
  }
}

@media screen and (max-width: 400px) {
  .app__header-h1 {
    font-size: 48px;
    line-height: 58px;
  }
}
